{% extends 'logistic_build/index.html' %}
{% load crispy_forms_tags %}
{% block  list_view_content%}


<script type="text/javascript">
    train_data_dict = {{ train_data_dict|safe }};
</script>

    <!-- BOOTSTRAP FORM -->
    
<div class="container d-flex justify-content-center mt-5" style="width: 25%;">
    <div class="">

<h2> Classification Model </h2>
        <form action="" method="post">
            {% csrf_token %}
                 {{form|crispy}}

            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-lg" value="SUBMIT" name="_run_now" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-primary btn-lg" value="SAVE AS DRAFT" name="_draft" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{% url "all" %}'; return false;" value="Cancel">
            </div>    
        </form> 

    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        function buildDropDowns(options_list) {

    var $id_feature_cols_select = $("#id_feature_cols");
    $id_feature_cols_select.children().remove();

    $(options_list).each(function(key, value) {   
        $('#id_feature_cols').append($("<option></option>")
                    .attr("value",value)
                    .text(value)); 
    });

}


window.addEventListener('load', function() {
    var sizes = ["XXL", "XL", "L", "M", "S", "XS"];
// train data dict is sent by django into the context varaible in the templates
    train_data_initial =$('#id_traindata').val(); //if value is prepopulated, usually would happen in the case previus exp is chosen, else will be blank
    if(train_data_dict[train_data_initial]){
        
        
        options_list= JSON.parse(train_data_dict[train_data_initial])
        buildDropDowns(options_list);
        console.log(JSON.parse(train_data_dict[train_data_initial]));
    }

        
        $("#id_traindata").change(function() {
            console.log("changed values");
            train_data_initial =$('#id_traindata').val();
            if(train_data_dict[train_data_initial]){
                train_data_chosen_by_user =$('#id_traindata').val();

                    options_list= JSON.parse(train_data_dict[train_data_chosen_by_user])

                buildDropDowns(options_list);
            }
                });
            });
    </script>
        {% endblock %}
    

<!-- END BOOTSTRAP FORM -->

{% endblock %}