{% extends 'logistic_build/index.html' %}
{% block file_input %}


    
                                            <form action="{% url "upload_csv" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input  name='portfolio_data_input 'class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
                                                    <label for="name" class="control-label">Portfolio Snapshot File: </label>
                                                    <div >
                                                        <input name='portfolio_data_input' type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                                                    </div>                    
                                                </div>

                                                <div class="form-group">                    
                                                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                                                         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
                                                    </div> 
                                                </div>
                                                </form>
                          



{% endblock %}