{% extends 'logistic_build/index.html' %}
{% block  list_view_content%}



<div class="" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">Regression model Details </h1>
        {% include 'logistic_build/includes/previous_experiments.html' %}
 

        <div class="d-flex justify-content-center">
            <table class="table-striped mt-5 stationarity_table" style="width: 100%; table-layout: fixed;    max-width: 600px;">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    {% for label, value in featureselection.get_fields  %}
                    {% if not label == "results" and not label == "created by"  %}
                        <tr>
                            <td>{{label | upper}}</td>
                            <td style="word-break:break-all;style=width: 50%">{{value}}</td>
                        </tr>
   
                    {% elif label == "results" %}
                        <tr>
                            <td>{{label | upper}}</td>
                            <td style="word-break:break-all;style="width: 50%""><a href="{% url 'resultsfeatureselection_detail' value %}">VIEW </a></td>
                        </tr>
                    
                    {% endif %}


                    {% endfor %}
                        
                </tbody>
            </table>


        </div>
<div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'featureselection_update' featureselection.experiment_id %}" class="d-block btn btn-primary btn-lg my-5">UPDATE / RE-RUN </a>

        </div>
        <div class="d-flex justify-content-center">
        </div>
    </div>
        
</div>

{% endblock  %}