{% extends "logistic_build/layouts/base.html" %} 
{% block title %} 
Dashboard 
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} 
{% load logistic_build_tags %}
{% block content %}


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  {% if bread_crumb %}
                  <h5 class="m-b-10"></h5>
                  {% endif %}
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  {% if bread_crumb %} {% for crumb in bread_crumb %}
                  <li class="breadcrumb-item">
                    <a href="javascript:">{{ crumb}} </a>
                  </li>
                  {% endfor %} {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->

             {% block file_input %}
             {% endblock file_input%} 
             {% block list_view_content%}
             {% endblock %} 
             {% if messages %} 
             {% for message in messages %}

          <div class="alert alert-success" style=" display: none; margin: 0px auto; padding-left: 65px; position: fixed; z-index: 1031; bottom: 20px; right: 20px; "id="success-alert">
          <button type="button" class="close" data-dismiss="alert"></button>
          <strong>Success! </strong> {{ message }}
        </div>
            {% endfor %} 
            {% endif %}
            <!-- [ Main Content ] end -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
