{% extends 'logistic_build/index.html' %}
{% block  list_view_content%}

<div class="" style="width: 70%;">
    <div class="col">
        
<div>
</div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'all' %}" class="d-block btn btn-primary btn-lg my-5">BACK</a>
            {% comment %}
  <!-- <a href="{% url 'variables' experiment_id=classificationmodel.experiment_id %}" class="d-block btn btn-primary btn-lg my-5">SHOW RESULTS</a> -->
  <a href="{% url 'regressionmodel' experiment_id=regressionmodel.experiment_id %}" class="d-block btn btn-primary btn-lg my-5">SHOW RESULTS</a>
  {% endcomment %}
        </div>
        <div class="d-flex justify-content-center">
        </div>
    </div>
        
</div>

{% endblock  %}