{% extends 'logistic_build/index.html' %}

{% block  list_view_content%}

<div class="" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">Model Development DataDetails</h1>
        <div class="d-flex justify-content-center">
            <table class="table table-striped mt-5" style="width: 50%">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for label, value in traindata.get_fields  %}
                    
                    {% if not label == "column names" %}
                        <tr>
                            <td>{{label | upper}}</td>
                            <td>{{value}}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
        <div>
            <select id="question-subject" class="form-control" multiple="multiple">
                
                
                <option value="">---------</option>
                {% for col in  traindata.get_col_names %}
                <option value="{{ col }}">{{ col }}</option>
                {% endfor %}
            </select>
            <div>
                <h4>Column names</h4>
                {{ traindata.column_names }}
        
            </div>
</div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'all' %}" class="d-block btn btn-primary btn-lg my-5">BACK</a>
        </div>
    </div>
        
</div>

{% endblock  %}