.tooltip-inner {
    max-width: 80% !important;
}


.indenting {
    padding-left: 50px  !important;
}



#example {
    width: 1000px;
    height: 1000px;
    overflow: hidden;
}


/* .notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
} */

.dot {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: red;
    position: absolute;
    right: 25px;
    top: 25px;
}



#filter_form .form-control {
    border: None !important ;
}


/* ul { padding-left:20px; list-style:none; }
li { margin-bottom:10px; }
li:before {    
    content: 'assd';
    margin:0 5px 0 -15px;
} */
/* li:before {    
    font-family: 'FontAwesome';
    content: '\f067';
    margin:0 5px 0 -15px;
} */

.addlink {
    padding-left: 16px;
    background: url(icon-addlink.svg) 0 1px no-repeat;
}


.cell_wrap span{
  /* border: 1px solid green;
  border-radius:15px;
  padding-right: 5px;
  width:13px;
  cursor:pointer; */
  display: inline-block;
  /* white-space: normal; */
}