
{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'logistic_build/assets/js/vendor-all.min.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/plugins/bootstrap/js/bootstrap.min.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/js/pcoded.min.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/js/dark-mode.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/notification_ajax.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/previous_experiments.js' %}"  type="text/javascript"></script>


<!-- model_builder/logistic_build/static/logistic_build/previous_experiments.js -->