
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.6.1/dist/frappe-charts.min.umd.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'logistic_build/assets/js/vendor-all.min.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/plugins/bootstrap/js/bootstrap.min.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/js/pcoded.min.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/js/dark-mode.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/notification_ajax.js' %}"  type="text/javascript"></script>
<script src="{% static 'logistic_build/assets/previous_experiments.js' %}"  type="text/javascript"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{% static 'logistic_build/assets/roc_sparklines.js' %}"  type="text/javascript"></script>

<!-- model_builder/logistic_build/static/logistic_build/previous_experiments.js -->